<div class="button-container">
  <button (click)="feedPet()" type="button" class="btn btn-success w-100">{{buttonText}}</button>
  <br>
  <br>
  <button (click)="refresh()" type="button" class="btn btn-warning w-100">Actualizar Datos</button>
</div>