<div class="stadistics-container">
  <div class="card border-success mb-3 text-center" style="max-width: 20rem;">
    <div class="card-header">Frecuencia de Uso</div>
    <div class="card-body">
      <h4 class="card-title">{{feedTimesValue}} veces</h4>
      <p class="card-text">Frecuencia de uso del dispensador (agua/comida)</p>
    </div>
  </div>
  <br>
  <div class="card border-danger mb-3 text-center" style="max-width: 20rem;">
    <div class="card-header">Porcentaje de alimento</div>
    <div class="card-body">
      <h4 class="card-title">{{percentageAte}}%</h4>
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  attr.aria-valuenow="{{percentageAte}}"
        aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        {{percentageAte}}%
      </div>
      <p class="card-text">Porcentaje actual de comida en el plato</p>
    </div>
  </div>
</div>
